<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offizielle Homepage des JP Motor Pool · German Division</title>
    <link href="{{ asset('css/output.css') }}" rel="stylesheet">
</head>
    <body>
        <div class="grid h-screen place-items-center text-center">
            <div>
                <img src="{{ asset('images/badge_320px.png') }}"  alt="Logo/Bade der German Division des Jurassic Park Motor Pool"/>
                <div class="mt-8 text-sm flex justify-between">
                    <div class="font-semibold">Follow us!</div>
                    <div>·</div>
                    <div><a href="https://www.facebook.com/jpmotorpool.de" class="text-red-600 hover:text-red-800" title="Folge der German Division des Jurassic Park Motor Pool auf Facebook">Facebook</a></div>
                    <div>·</div>
                    <div><a href="https://www.instagram.com/jpmotorpool.de/" class="text-red-600 hover:text-red-800" title="Folge der German Division des Jurassic Park Motor Pool auf Instagram">Instagram</a></div>
                </div>
                <hr class="mt-16 mb-2 h-px bg-gray-400 border-0" />
                <div class="text-xs">
                    <a href="https://www.marcelkraus.de/impressum"  class="text-gray-600 hover:text-gray-800">Impressum (Externer Link)</a>
                </div>
            </div>
        </div>
    </body>
</html>
