<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offizielle Homepage des JP Motor Pool · German Division</title>
    <link href="{{ asset('css/output.css') }}" rel="stylesheet">
</head>
    <body>
        <div class="max-w-xl mx-auto grid h-screen place-items-center text-center">
            <div>
                <img src="{{ asset('images/badge_320px.png') }}"  class="mx-auto" alt="Logo/Bade der German Division des Jurassic Park Motor Pool" />
                <div class="mt-8">
                    <span class="font-semibold mr-4">Follow us:</span>
                    <a href="https://www.facebook.com/jpmotorpool.de" class="mr-2 text-red-600 hover:text-red-800" title="Folge der German Division des Jurassic Park Motor Pool auf Facebook">Facebook</a>
                    <a href="https://www.instagram.com/jpmotorpool.de/" class="text-red-600 hover:text-red-800" title="Folge der German Division des Jurassic Park Motor Pool auf Instagram">Instagram</a>
                </div>
                <hr class="mt-8 mb-2 h-px bg-gray-400 border-0" />
                <div class="text-xs">
                    <span class="font-semibold">Impressum: </span> Florian Robbers, Schützenstraße 31, 26169 Friesoythe<br/>
                    Diese Visitenkarte verwendet keine Cookies und verzichtet auf Tracking jeglicher Form
                </div>
            </div>
        </div>
    </body>
</html>
